@import 'pulse.css';

text {
    font-size: medium;
}

.button-group {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
}

ol {
    margin-left: 50px;
}

mjx-container:has(mjx-math.no-margin-formula) {
    margin-bottom: 0 !important;
}