/* Basic */

.slide h2 {
    margin-top: 1px;
    margin-bottom: 33px;
    color: var(--color-grey);
    font: bold 35px/1 'PT Sans Narrow', sans-serif;
}

.slide * + h2 {
    margin-top: 41px;
}

.slide p {
    font-size: large;
    margin-top: 0;
}

.slide p.note {
    color: var(--color-grey);
}

.slide figure {
    margin: 0;
}

.MathJax {
    font-size: 0.8em !important;
    }